/* colors */
/*https://coolors.co/palette/f72585-7209b7-3a0ca3-4361ee-4cc9f0 */
:root {
    --themePink: #F72585;
    --themePurple: #7209B7;
    --themeDarkBlue: #3A0CA3;
    --themeMidBlue: #4361EE;
    --themeLightBlue: #4CC9F0;
  } #F72585

/* fonts */

.atma-light {
    font-family: "Atma", serif;
    font-weight: 300;
    font-style: normal;
}
  
.atma-regular {
    font-family: "Atma", serif;
    font-weight: 400;
    font-style: normal;
}
  
.atma-medium {
    font-family: "Atma", serif;
    font-weight: 500;
    font-style: normal;
}
  
.atma-semibold {
    font-family: "Atma", serif;
    font-weight: 600;
    font-style: normal;
}
  
.atma-bold {
    font-family: "Atma", serif;
    font-weight: 700;
    font-style: normal;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
}  
  

/* main */

* {
    background: black;
    color: var(--themeMidBlue);
}

#name {
    position: absolute;
    top: -200px;
    font-size: 100px;
    height: 100px;
    padding: 0;
    z-index: 2;
    background-color: transparent;
    text-shadow: 2px 2px var(--themePink);
}

#title {
    position: absolute;
    top: 500px;
    left: 20px;
    font-size: 0px;
    height: 50px;
    padding: 0;
}

.flexbox {
    display: flex;
    position: absolute;
    left: 650px;
    width: 600px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: var(--themePurple);
    color: var(--themeLightBlue);
    height: 100%;
    width: 100%;
    margin: 20px;
    border-radius: 20px;
    font-size: 30px;
    text-align: center;
    opacity: 0;
}

.card p { 
    background-color: var(--themePurple);
    color: var(--themeLightBlue);
    font-size: 30px;
    text-align: center;
}

.petal {
    background-color: #e5e5f7;
    opacity: 0.8;
    /*background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 10px ), repeating-linear-gradient( #444cf755, #444cf7 );
    */position: absolute;
    width: 50px;
    height: 50px;
}

#petal1 {
    top: 50px;
    left: 50px;
    border-radius: 30px 15px 0px;
    background-image:  repeating-radial-gradient( circle at 100% 100%, transparent 0, #e5e5f7 10px ), repeating-linear-gradient(var(--themePink), var(--themePurple));
}

#petal2 {
    top: 100px;
    left: 50px;
    border-radius: 15px 0px 15px 30px;
    background-image:  repeating-radial-gradient( circle at 100% 0%, transparent 0, #e5e5f7 10px ), repeating-linear-gradient(var(--themePurple), var(--themePink));
}

#petal3 {
    top: 100px;
    left: 100px;
    border-radius: 0px 15px 30px;
    background-image:  repeating-radial-gradient( circle at 0% 0%, transparent 0, #e5e5f7 10px ), repeating-linear-gradient(var(--themePurple), var(--themePink));
}

#petal4 {
    top: 50px;
    left: 100px;
    border-radius: 15px 30px 15px 0px;
    background-image:  repeating-radial-gradient( circle at 0% 100%, transparent 0, #e5e5f7 10px ), repeating-linear-gradient(var(--themePink), var(--themePurple));
}

.petal2 {
    background-color: #e5e5f7;
    opacity: 0.8;
    /*background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 10px ), repeating-linear-gradient( #444cf755, #444cf7 );
    */position: absolute;
    width: 75px;
    height: 75px;
}

#petal5 {
    top: 150px;
    left: 350px;
    border-radius: 30px 15px 0px;
    background-image:  radial-gradient(var(--themeLightBlue), var(--themePurple));
}

#petal6 {
    top: 225px;
    left: 350px;
    border-radius: 15px 0px 15px 30px;
    background-image:  radial-gradient(var(--themeLightBlue), var(--themePurple));
}

#petal7 {
    top: 225px;
    left: 425px;
    border-radius: 0px 15px 30px;
    background-image:  radial-gradient(var(--themeLightBlue), var(--themePurple));
}

#petal8 {
    top: 150px;
    left: 425px;
    border-radius: 15px 30px 15px 0px;
    background-image:  radial-gradient(var(--themeLightBlue), var(--themePurple));
}

#center1 {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 210px;
    left: 410px;
    border-radius: 3px;
    background-image:  radial-gradient(var(--themeDarkBlue), var(--themeLightBlue));
    z-index: 2;
}

.flower {
    opacity: 0;
}
